===== .gitignore (附加建議片段) =====
# env
.env

# credentials
credentials/
.token/
YouTube_Data_API_v3_token/
# logs and data
logs/
data/*
!data/.gitkeep
# python
__pycache__/
*.pyc
*.pyo
# build
dist/
build/
*.egg-info/
*.json

# test資料夾
test/
data/
註解文件.ini
*.ico
*.spec
*.exe
YouTube_Data_Pipeline.code-workspace